@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  line-height: 1.7; }

.heading-primary {
  font-family: var(--default-heading-font);
  text-transform: uppercase;
  font-size: 8rem;
  color: var(--white);
  letter-spacing: 1rem;
  color: var(--dark-desaturated-cyan); }
  @media only screen and (max-width: 75em) {
    .heading-primary {
      font-size: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 4rem;
      text-align: center; } }

.heading-secondary {
  font-family: var(--default-heading-font);
  font-size: 5rem;
  line-height: 5rem;
  color: var(--dark-desaturated-cyan); }
  @media only screen and (max-width: 75em) {
    .heading-secondary {
      font-size: 4rem; } }

.heading-tertiary {
  font-family: var(--default-heading-font);
  font-size: 3.5rem; }

.heading-fourth {
  font-family: var(--default-heading-font);
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 2.5rem;
  color: var(--dark-grayish-blue); }

.paragraph {
  font-family: inherit;
  font-weight: 600;
  color: var(--dark-grayish-blue);
  line-height: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      text-align: center; } }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.header {
  height: 100vh;
  padding: 2rem 2rem 0 2rem;
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center; }
  .header__arrow-down {
    height: 8rem; }

.navigation__nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navigation__logo-box {
  display: flex;
  align-items: center; }

.navigation__list {
  display: flex;
  list-style: none; }
  .navigation__list--footer {
    margin: auto; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  padding: 0.5rem 1.5rem; }

.navigation__link--contact {
  background-color: var(--grayish-blue);
  border-radius: 2rem; }
  .navigation__link--contact:hover {
    background-color: var(--white);
    color: var(--darl-blue); }

.navigation__link--footer:link, .navigation__link--footer:visited {
  color: var(--dark-desaturated-cyan); }

.footer {
  text-align: center;
  background-color: var(--grayish-blue);
  padding: 8rem 0; }
  .footer > :not(:last-child) {
    margin-bottom: 3rem; }
  .footer .social {
    display: flex;
    margin: auto;
    justify-content: center;
    list-style: none; }
    .footer .social a:link, .footer .social a:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 0 1rem;
      color: var(--dark-moderate-cyan);
      text-decoration: none;
      text-transform: uppercase; }

:root {
  --soft-red: hsl(7, 99%, 70%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --bg-yellow:hsl(51, 100%, 49%);
  --bg-blue:hsl(200,100%,62%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%):
--very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --default-heading-font: "Fraunces", serif; }

.btn {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  position: relative;
  padding: 0 0.5rem;
  text-decoration: none;
  color: var(--dark-desaturated-cyan); }
  .btn::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1rem;
    border-radius: 0.5rem;
    left: -5%;
    bottom: 0.5rem;
    z-index: -10;
    transition: all 0.2s; }
  .btn--yellow:hover::before {
    background-color: var(--bg-yellow);
    width: 110%; }
  .btn--pink:hover::before {
    background-color: var(--dark-grayish-blue);
    width: 110%; }

.article--text {
  padding-left: 15rem;
  padding-right: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 75em) {
    .article--text {
      padding-left: 10rem;
      padding-right: 4rem; } }
  @media only screen and (max-width: 56.25em) {
    .article--text {
      padding: 4rem 2rem; } }

.img__content {
  display: inline-block;
  object-fit: cover;
  width: 100%;
  height: 100%; }

.design-photo-text {
  position: absolute;
  top: 60%;
  text-align: center;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; }
  @media only screen and (max-width: 75em) {
    .design-photo-text {
      width: 85%; } }

.card-container {
  display: flex;
  justify-content: center;
  gap: 4rem; }

.card {
  text-align: center;
  max-width: 41rem;
  width: 33.33333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .card__img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem; }
  .card__text {
    margin-bottom: auto; }
  .card__name {
    font-weight: 900; }
  .card__position {
    color: var(--dark-desaturated-cyan); }

.section {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .section {
      flex-direction: column-reverse;
      text-align: center; } }
  .section > * {
    flex: 0 1 50%; }
  .section--stand-out {
    flex-direction: row-reverse; }
    @media only screen and (max-width: 56.25em) {
      .section--stand-out {
        flex-direction: column-reverse; } }
  .section--design-and-photo > * {
    position: relative; }
  .section--testimonials {
    text-align: center;
    padding: 20rem 10rem;
    flex-direction: column-reverse; }
  .section--gallery {
    width: 100%; }
    .section--gallery > * {
      max-width: 25%; }
