.navigation {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-box {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    list-style: none;

    &--footer {
      margin: auto;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: var(--white);
      padding: 0.5rem 1.5rem;
    }

    &--contact {
      background-color: var(--grayish-blue);
      border-radius: 2rem;

      &:hover {
        background-color: var(--white);
        color: var(--darl-blue);
      }
    }

    &--footer {
      &:link,
      &:visited {
        color: var(--dark-desaturated-cyan);
      }
    }
  }
}

.toggle {
  display: none;

  span {
    display: inline-block;
    width: 90%;
    height: 2px;
    border: 3px;
    background-color: rgb(206, 200, 195);
    transition: all 0.2s;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      background-color: rgb(206, 200, 195);
      transition: all 0.2s;

      height: 100%;
      left: 0;
    }

    &::after {
      top: -1.2rem;
    }

    &::before {
      top: 1.2rem;
    }
  }

  @include respond(tab-port) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
}

.menu {
  @include respond(tab-port) {
    display: none;
  }
}

input {
  display: none;
}

#chbox:checked ~ .toggle span {
  background-color: transparent;
}

#chbox:checked ~ .toggle span::after {
  rotate: 45deg;
  top: 0;
}

#chbox:checked ~ .toggle span::before {
  rotate: 135deg;
  top: 0;
}
