.navigation {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-box {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: var(--white);
      padding: 0.5rem 1.5rem;
    }
  }
}
