.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  text-align: center;

  &__img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
  }

  &__name {
    font-weight: 900;
  }

  &__position {
    color: var(--dark-desaturated-cyan);
  }
}
