.design-photo-text {
  position: absolute;
  top: 60%;
  text-align: center;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  @include respond(tab-land) {
    width: 85%;
  }
}
