.section {
  display: flex;

  @include respond(tab-port) {
    flex-direction: column-reverse;
    text-align: center;
  }

  & > * {
    flex: 0 1 50%;
  }

  &--stand-out {
    flex-direction: row-reverse;
    @include respond(tab-port) {
      flex-direction: column-reverse;
    }
  }

  &--design-and-photo {
    & > * {
      position: relative;
    }
  }

  &--testimonials {
    text-align: center;
    padding: 20rem 10rem;

    @include respond(tab-land) {
      padding: 10rem 4rem;
    }
  }

  &--gallery {
    width: 100%;
    @include respond(tab-land) {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
    }

    & > * {
      max-width: 25%;
      @include respond(tab-land) {
        max-width: 50%;
      }
    }
  }
}
